@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Page_1.......................................................*/
.CustomfurniturePage_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  background: url("./src/page/Customfurniture/img/IMG_6437 1.jpg") no-repeat
    center;
  background-size: cover;
}
.CustomfurniturePage_1 p {
  padding-top: 217px;
  color: #f6f6f6;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.CustomfurniturePage_1 h1 {
  color: #f6f6f6;
  font-size: 48px;
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.CustomfurniturePage_1 h1:last-child {
  padding-top: 25px;
}

/*Page_2.......................................................*/
.CustomfurniturePage_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background: #F3EFEA;
}
.CustomfurniturePage_2 h1 {
  display: flex;
  padding-left: 134px;
  color: #57463a;
  font-size: 48px;
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 168px;
}
.advantages {
  display: grid;
  padding-left: 134px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
}
.SolidFur {
  display: flex;
  padding-top: 10px;
  width: 300px;
  border-bottom: solid 5px #715b4b;
}

.advantages h3 {
  color: #323232;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.advantages p {
  color: #323232;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 20px;
}
.advantages_1,
.advantages_2,
.advantages_3,
.advantages_4,
.advantages_5,
.advantages_6 {
  display: flex;
  flex-direction: column;
  padding-bottom: 78px;
  width: 55%;
}
/*Page_3.......................................................*/
.CustomfurniturePage_3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F3EFEA;
}
.CustomfurniturePage_3 h1 {
  color: #57463a;
  font-size: 48px;
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 134px;
}
/*Page_4.................................................*/
.CustomfurniturePage_4{
  background: #F3EFEA;
}
.CustomfurniturePage_4 h1 {
  padding: 160px;
  color: #57463a;
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.Table_CustomfurniturePage_4 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CustomfurniturePage_4 table {
  width: 1158px;
  height: 267px;
  border-collapse: collapse;
  border: 1px solid black;
}
.CustomfurniturePage_4 td {
  border: 1px solid black;
  padding: 2%;
  width: 387px;
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 102.99%;
}
.CustomfurniturePage_4 td p {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 102.99%;
}
.CustomfurniturePage_4 td h2 {
  float: right;
  color: #57463a;
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/*Page_5..........................................................................*/
.CustomfurniturePage_5{
  background: #F3EFEA;
}
.CustomfurniturePage_5 h1 {
  padding: 160px;
  color: #57463a;
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.CustomfurniturePage_5_reviews {
  display: flex;
  justify-content: space-between;
  padding-left: 13%;
  padding-right: 13%;
}
/*Page_6....................................................*/

.CustomfurniturePage_6{
  background: #F3EFEA;
}
.CustomfurniturePage_6 h1 {

  padding: 160px;
  color: #57463a;
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
